/*-- scss:defaults --*/

.quarto-title-meta-contents code {
  color: #003366; /* Couleur de texte en bleu foncé */
}


.listing-author code {
  color: #003366; /* Couleur bleu foncé */
}


.card-attribution.card-text-small.start {
  margin-top: 5px; /* Réduit la marge en haut à 5 pixels */
  margin-bottom: 5px; /* Réduit la marge en bas à 5 pixels */
}

.card-img-top {
  display: flex; /* Utilisation de flexbox pour aligner les éléments */
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  height: 150px; /* Hauteur du cadre */
}

.card-img-top img {
  max-width: 100%; /* Assurer que l'image ne dépasse pas la largeur du cadre */
  max-height: 100%; /* Assurer que l'image ne dépasse pas la hauteur du cadre */
}


$bs-blue: #06436e !default;
$bs-pagination-active-bg: $bs-blue !default;
$bs-primary: $bs-blue !default;
$bs-btn-hover-bg: $bs-blue !default;

/*-- scss:rules --*/

/* Customisation du back-to-top */
a#quarto-back-to-top:hover {
  background-color: #ffffff;
  color: black;
}

/* Ajout d'une plus grande marge entre le titre des projets et les catégories */
.quarto-grid-item .card-title {
  margin-bottom: 0.5em;
}

/* Ajoute de la marge en haut du footer central (copyright) */
.nav-footer-center {
  margin-top: 1em;
}


/* Quand l'utilisateur hover, petit effet de surbrillance */
span.shiny-color:hover {
  text-shadow: 0 0 10px #7ea3ffce;
}

.navbar-toggler:focus {
  display: inline-block;
  padding: 1%;
  border-radius: 75%;
}

/* Gère le soulignement du texte des menus de navigation (1) */
a.nav-link {
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  text-underline-offset: 0.2em;
  transition: text-decoration-color 300ms, text-underline-offset 300ms;
}

/* Gère le soulignement du texte des menus de navigation (2) */
a.nav-link:hover {
  text-decoration-color: #2fe8f0;
  text-underline-offset: 0.4em;
}

/* Ajout d'une plus grande marge pour la sidebar de marge du site */
#quarto-margin-sidebar {
  padding-top: 35%;
}
/* Transforme en majuscule mon nom et prénom */
.navbar-title {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.navbar-title {
  transition: background-color 0.3s ease; /* Transition fluide pour l'effet */
  padding: 5px; /* Ajoute de l'espace autour du texte */
  border-radius: 5px; /* Ajoute des coins arrondis au conteneur */
}

.navbar-title:hover {
  background-color: #4a94d9; /* Couleur de fond jaune clair au survol */
}


/* Transforme en majuscule le texte des menus de navigation */
span.menu-text {
  text-transform: uppercase;
}

.navbar {
  background-color: $bs-blue;
}

.quarto-title-banner{
  background-color: #0c2e42 ;
}

.btn-primary {
    color: #fff;
    background-color: $bs-blue;
    border-color: $bs-blue;
}



.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: $bs-blue;
    border-color: $bs-blue;
}

.quarto-title-banner {
    margin-bottom: 1em;
    color: rgba(255,255,255,.7);
    background: $bs-blue;
}


.page-link {
      color: $bs-blue;
}


.page-link:hover {
    z-index: 2;
    color: #fff;
    background-color: $bs-blue;
    border-color: $bs-blue;
}

a{
  color: $bs-blue;
}

b, strong {
    color: $bs-blue;
    font-weight: bolder;
}

div.quarto-post .listing-categories .listing-category {
    color: $bs-blue;
    border: solid 1px var(--bs-gray-400);
    font-size: .8em;
}

body {
  background-color: #fdfdfd; /* Couleur de fond principale */
}

header, footer {
  background-color: #fdfdfd !important; /* Couleur de fond pour le header et le footer */
  color: rgb(2, 2, 2) !important; /* Couleur du texte pour le header et le footer */
}

.main-content {
  background-color: #fdfdfd; /* Couleur de fond pour la zone principale */
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}

/* Permet de gérer un léger effet de zoom sur les images des projets */
.card-img-top {
  transition: transform 0.25s ease-in-out;
}

/* Permet de gérer un léger effet de zoom sur les images des projets */
.card-img-top:hover {
  transform: scale(1.05);
}

/* Gère l'animation de la main */
.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}


/* Gère l'animation du chevron */
.chevron-styling {
  text-align: center;
  animation: chevron-animation 2s ease-in-out infinite;
}

/* Définition des keyframes */
@keyframes wave-animation {
  0% {
      transform: rotate(0.0deg)
  }

  10% {
      transform: rotate(14.0deg)
  }

  20% {
      transform: rotate(-8.0deg)
  }

  30% {
      transform: rotate(14.0deg)
  }

  40% {
      transform: rotate(-4.0deg)
  }

  50% {
      transform: rotate(10.0deg)
  }

  60% {
      transform: rotate(0.0deg)
  }

  100% {
      transform: rotate(0.0deg)
  }
}

@keyframes chevron-animation {
  0% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(0.75em);
  }

  100% {
      transform: translateY(0);
  }
}